.footer{
    padding: 50px 0px;
    background: var(--orange-gradient);
    width: 100%;
     margin-top: auto;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 3rem;
}
.logo-img{
    width: 1.5rem;
    height: 3rem;
}
.my-name{
    padding: 2rem;
}
.flex1{
    width: 30%;
    column-gap: 0.5rem;
    text-align: center;
}
.flex3{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-p{
    line-height: 2.5rem;
    margin-top: 20px;
}
.footer-title{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 15px;
    line-height: 1.5rem;
    margin-right: 10px;

}
.footer-link>li{
    line-height: 10px;
    color: #fff;
    list-style: none;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}
.footer-link li a{
    cursor: pointer;
}
.footer-link li a:hover{
    color: green;
}
.quik-link li{
line-height: 10px;
list-style: none;
color:#fff;
align-items: center;
justify-content: center;
padding: 1rem;
}
.quik-link li:hover{
    color: green;
}




